# -------------------------

# Python artifacts

# -------------------------

**pycache**/
*.py[cod]
*.pyo
*.pyd

# -------------------------

# Virtual environments

# -------------------------

venv/
.env

# -------------------------

# ML / Model artifacts

# -------------------------

models/

# -------------------------

# Logs / Data files

# -------------------------

/training/logs.csv

# -------------------------

# IDE / Editor files

# -------------------------

.vscode/
.idea/

# -------------------------

# OS files

# -------------------------

.DS_Store
Thumbs.db